{% extends 'RMEND/base.html' %}
{% load static %}
{% block title %} news {% endblock %}
{%block content %}
 <div class="container">
        <h1>Florentino Pérez: “Merry Christmas and
            may 2024 bring health, peace, work,
            happiness and solidarity for all of us"
        </h1>
        <p>The club president, Ancelotti, Nacho, Modrić, Chus Mateo,
            Llull, Rudy, Toril, Ivana and Kenti Robles send their festive greetings.</p>
        <img src="{% static 'RMEND/img/news-1.png' %}" style="width: 100%;">
        <p>Florentino Pérez, Ancelotti, Chus Mateo, Toril, Nacho, Modrić, Llull, Rudy,
            Ivana and Kenti Robles participated in Real Madrid’s customary Christmas message.
            After a very successful year, the club president, coaches and captains of the three
            teams wish Madrid fans the best wishes for 2024.</p>
        <p>Florentino Pérez: “We are working to continue to celebrate many more successes and many more successes”
            “From Real Madrid, I would like to send you our best wishes so that we can enjoy this special holiday
            season with our families and loved ones. We are experiencing very difficult circumstances in many parts
            of the world. For this reason, at this time of year we must be more supportive than ever and convey a message
            of peace, hope and optimism to everyone, especially to those who need it most.”</p>
        <p>“At Real Madrid we are working to continue to celebrate many more successes and many more successes, and for
            solidarity to be the great driving force of our society. Millions of people share the values of our club and
            the same sentiment, madridismo, which unites us in every corner of the world.”</p>
 </div>
     <div class="flag">.</div>
{% endblock %}