{% extends 'RMEND/base.html' %}
{% load static %}
{% block title %} news {% endblock %}
{%block content %}
 <div class="container">
        <h1>The president meets Endrick at Real Madrid City</h1>
        <img src="{% static 'RMEND/img/news-3.png' %}" style="width: 100%;">
        <p>The president has met with Endrick at Real Madrid City.
            Having witnessed the team's win over Villarreal at the
            Santiago Bernabéu last night, the Brazilian forward was
            welcomed by Florentino Pérez in the meeting room, where he had the chance
            to see the 25 European Cups, 14 in football and 11 in basketball. Endrick
            presented the president with a personalised Brazilian national team shirt.</p>
        <p>The player also chatted with Ancelotti and the players at Real Madrid City on Saturday,
            ahead of joining the club in July 2024 once he turns 18 years of age. He was recently
            crowned League champion with Palmeiras for the second season on the bounce.</p>
       
 </div>
{% endblock %}