{% extends 'RMEND/base.html' %}
{% load static %}
{% block title %} news {% endblock %}
{%block content %}
 <div class="container">
        <h1>LaLiga's best defence</h1>
        <p>Real Madrid have conceded the fewest goals in the league so far, just 11 in 18 games,
            equalling their all-time best figures from the 1961/62 and 1971/72 campaigns.</p>
        <img src="{% static 'RMEND/img/news-4.png' %}" style="width: 100%;">
        <p>Real Madrid boast the best defensive system in LaLiga so far this season, a key element
            in their table-topping status ahead of the Christmas break. Ancelotti's boys have conceded 11 goals in 18 games,
            equalling their all-time best figures which came in the 1961/62 and 1971/72 campaigns.
            Of the 11 goals conceded, four have been at home and seven on the road. Our team have also kept clean sheets
            in half of their LaLiga fixtures to date. Real Madrid's best ever season from a defensive perspective was 2019/20,
            when they conceded just 25 goals in the 38 games, going on to win the league and lift their 34th LaLiga title..</p>

 </div>
  <div class="flag">.</div>
{% endblock %}