{% extends 'RMEND/base.html' %}
{% load static %}
{% block title %} news {% endblock %}
{%block content %}
 <div class="container">
        <h1>Real Madrid return to training tomorrow</h1>
        <p>TThe league leaders will begin preparations
            for the clash against Mallorca, which will
            be played on 3 January at the Bernabéu (7:15 pm CET).</p>
        <img src="{% static 'RMEND/img/news-2.png' %}" style="width: 100%;">
        <p>Real Madrid are back in training tomorrow. The league leaders will train at
            Real Madrid City after the Christmas break and begin preparations for their
            next fixture: matchday 19 of the championship against Mallorca, which will
            be played on Wednesday 3 January at the Santiago Bernabéu stadium (7:15 pm CET).
            The session will kick off at 4pm and will be held behind closed doors.</p>

 </div>
  <div class="flag">.</div>
{% endblock %}